<!DOCTYPE html>
<html>
  <%- include('../public/head.ejs') %>
  <body>
  	<div class="home">
  		<%- include('../public/header.ejs') %>
	    <%- include('../public/aside.ejs') %>
	    <img src="/images/02.jpg" class="author-img"/>
	    <!-- 关于博客页 -->
	    <div class="aboutpage">
	    	<h3>关于博客</h3>
	    	<p>该博客主要用于交流和分享前端开发中的技术</p>
	    </div>
	    
	    <%- include('../public/footer.ejs') %>
		</div>
  </body>
</html>
