<!DOCTYPE html>
<html>
  <%- include('../public/head.ejs') %>
  <body>
  	<div class="home">
  		<%- include('../public/header.ejs') %>
	    <%- include('../public/aside.ejs') %>
	    <img src="/images/02.jpg" class="author-img"/>
	    <!-- 关于博客页 -->
	    <div class="friends">
	    	<h3>友情链接</h3>
	    </div>
	    
	    <%- include('../public/footer.ejs') %>
		</div>
  </body>
</html>
