<head>
    <title>峰哥的个人博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css"/>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
